# 数据集文件夹【核心：不上传所有数据集】
datasets/
data/vehicle/images/
data/vehicle/labels/
data/license_plate/

# 训练生成权重、日志（runs只留配置，pt权重忽略）
runs/*/*.pt
runs/*/*.pth
# 如需连整个runs都不上传：取消下面注释
# runs/

# 前端临时上传、输出图片
uploads/
output/
result/

# python缓存、虚拟环境
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/

# 系统文件、编辑器配置
.DS_Store
.vscode/
*.log
# 根目录预训练pt权重
*.pt
# 本地测试视频mp4
*.mp4